  // file: searchBar.js
  .containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    .containerLogo__logo {
      width: 1000px;
    }
  }

  
  .formContainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;

    .formContainer__inputText {
      margin-right: 3px;
      width: 300px;
    }

    .formContainer__buttonSearch {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      cursor: pointer;
      margin-left: 10px;
    }
}

//non serve
.colorcount {
  padding: 10px;
  background-color: black;
  width: 10%;
  border-radius: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.containerCard {
  display: flex;
  flex-direction: column;       //mettere gli elementi in colonna
  align-items: center;        //mettere gli elementi al centro
  margin-top: 5%;
  
  .containerCard__pokemon {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center; 
    border-radius: 10px;
    margin-top: 2%;
    box-shadow: 0px 3px 4px lightslategray;
    background-color: rgb(243, 243, 243);

    .containerCard__namePokemon {
      text-transform: uppercase;
      font-family: "Gill Sans", sans-serif;
    }

    .containerCard__buttonSinglePokemon {
      transition-duration: 0.4s;
      background-color: #ffffff;
      border-radius: 30px;
      margin-bottom: 4px;
      border: 0px solid black;
      box-shadow: 0px 3px 4px lightslategray;
    }
    
    .containerCard__buttonSinglePokemon:hover {
      background-color: rgb(243, 243, 243);
    }
  }
}